@font-face {
    font-family: "Helvetica";
    src: url(./assets/fonts/HelveticaNeue.ttc);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica';
}


#root {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}